## Problem 1: Dot Product

In [1]:
def dot_product(x,y):
    result = 0
    for i in range(len(x)):
        result += x[i] * y[i]
    return result

In [2]:
v1 = [38, 9, 40, 34, 20, 16, 42, 36, 12, 1, 23, 46, 31, 19, 30, 33, 16, 43, 24, 41]
v2 = [43, 13, 35, 14, 26, 3, 36, 15, 42, 44, 45, 20, 17, 6, 47, 40, 38, 41, 31, 24]

result = dot_product(v1, v2)
print("The dot product of v1 and v2 is ",result,".",sep="")

The dot product of v1 and v2 is 16220.

## Problem 2: Amortization

In [3]:
def count_payments(amount,rate,pmt):
    balance = amount
    number_monthly_payment = 0
    while balance > 0:
        balance = round(balance * (1 + rate) - pmt, 2)
        number_monthly_payment += 1
    return number_monthly_payment

In [4]:
loan_amount = 160000
monthly_interest_rate = 0.004  
payment = 850 
while True:
    number_monthly_payment = count_payments(loan_amount, monthly_interest_rate, payment)
    print(number_monthly_payment, " monthly payments of ", "$",payment, " would be required",".",sep="")
    if payment == 1050: 
        break
    payment += 50

351 monthly payments of $850 would be required.
312 monthly payments of $900 would be required.
281 monthly payments of $950 would be required.
256 monthly payments of $1000 would be required.
236 monthly payments of $1050 would be required.

In [5]:
loan_amount = 160000
new_monthly_interest_rate = 0.0035  
payment = 850  
while True:
    number_monthly_payment = count_payments(loan_amount, new_monthly_interest_rate, payment)
    print(number_monthly_payment, " monthly payments of ", "$",payment, " would be required",".",sep="")
    if payment == 1050: 
        break
    payment += 50

308 monthly payments of $850 would be required.
279 monthly payments of $900 would be required.
255 monthly payments of $950 would be required.
235 monthly payments of $1000 would be required.
219 monthly payments of $1050 would be required.

## Problem 3: Minimum

In [6]:
def minimum(x):
    value = x[0] 
    for i in range(1, len(x)): 
        if x[i] < value:
            value = x[i]
    return value

In [7]:
list1 = [9.8, 7.4, 5.6, 4.8, 4.8, 5.3, 4.1, 9.6, 5.4]
list2 = [3.4, 7.6, 8.7, 7.5, 9.8, 7.5, 6.7, 8.7, 8.4]
list3 = ["St. Louis", "Kansas City", "Chicago", "Little Rock", "Omaha"]
print(minimum(list1))
print(minimum(list2))
print(minimum(list3))

4.1
3.4
Chicago

## Problem 4: Argmin

In [8]:
def argmin(x):
    value = x[0]
    value_index = 0
    for i in range(1, len(x)):
        if x[i] < value:
            value = x[i]
            value_index = i
    return value_index

In [9]:
list1 = [9.8, 7.4, 5.6, 4.8, 4.8, 5.3, 4.1, 9.6, 5.4]
list2 = [3.4, 7.6, 8.7, 7.5, 9.8, 7.5, 6.7, 8.7, 8.4]
list3 = ['St. Louis', 'Kansas City', 'Chicago', 'Little Rock', 'Omaha']
print(argmin(list1))
print(argmin(list2))
print(argmin(list3))

6
0
2

## Problem 5: Find Smallest Elements

In [10]:
def find_smallest(x, n=None):
    if n is None:
        return minimum(x)
    elif n > 0 and n <= len(x):
        sorted_x = sorted(x)
        return sorted_x[:n]
    elif n > len(x):
        return x[0:n]

In [11]:
my_list=[39, 74, 28, 64, 17, 28, 54, 53]
print(find_smallest(my_list))
print(find_smallest(my_list, 1))
print(find_smallest(my_list, 2))
print(find_smallest(my_list, 5))
print(find_smallest(my_list, 12))

17
[17]
[17, 28]
[17, 28, 28, 39, 53]
[39, 74, 28, 64, 17, 28, 54, 53]

In [12]:
print(my_list)

[39, 74, 28, 64, 17, 28, 54, 53]

## Problem 6: Find Unique Elements

In [13]:
def unique(x):
    unique_list = []
    for value_list in x:
        if value_list not in unique_list:
            unique_list.append(value_list)
    unique_list.sort()
    return unique_list

In [14]:
int_list = [23, 16, 23, 12, 14, 23, 12, 19, 19]
str_list = ['cat', 'dog', 'dog', 'cat', 'bat', 'frog', 'dog', 'frog']
print(unique(int_list))
print(unique(str_list))

[12, 14, 16, 19, 23]
['bat', 'cat', 'dog', 'frog']

## Problem 7: Frequency Distribution

In [15]:
def freq_dist(x):
    def unique(x):
        unique_list = []
        for value_list in x:
            if value_list not in unique_list:
                unique_list.append(value_list)
        unique_list.sort()
        return unique_list
    values = unique(x)
    counts = []
    for value in values:
        count = x.count(value)
        counts.append(count)
    return values, counts

In [16]:
grades = ['A', 'D', 'A', 'C', 'B', 'F', 'A', 'D', 'C', 
          'B', 'F', 'A', 'C', 'B', 'A', 'B', 'B', 'C', 
          'B', 'F', 'D', 'D', 'A', 'C', 'B', 'B', 'D']
unique_values, frequencies = freq_dist(grades)
print("Unique Values:\t", unique_values)
print("Frequencies:\t", frequencies)

Unique Values:	 ['A', 'B', 'C', 'D', 'F']
Frequencies:	 [6, 8, 5, 5, 3]

## Problem 8: Weighed Means

In [17]:
def mean(x, w=None):
    if w is None:
        return sum(x)/len(x)
    elif type(w) == list:
        for i in range(len(x)):
                      x[i] = x[i] * w[i]
        return sum(x)/sum(w) 
    else:
        weighted_sum = sum(xi * wi for xi, wi in zip(x, w))
        total_weight = sum(w)
        return weighted_sum / total_weight

In [18]:
values = [4, 7, 3, 5, 2, 6, 8, 2, 4, 8]
weights = [2, 1, 3, 1, 2, 3, 1, 4, 2, 1] 
standard_mean = mean(values)
weighted_mean = mean(values, weights)
print("Standard Mean:", standard_mean)
print("Weighted Mean:", weighted_mean)

Standard Mean: 4.9
Weighted Mean: 4.15